/*IMPORTANDO FONTE DO GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;

}

h1{

    font-size:1.7em;
    font-weight:700;
    text-align:center;

}

h3 {
    font-size:1.7em;
    font-weight: 500;
}


/*INFORMAÇÕES SOBRE HARDWARE*/
#hardwares {
    border-bottom:1px dashed rgba(0, 0, 0, 0.288);
    margin-bottom:100px;
    height: 100%;
}


#pc-componentes {
    padding:30px;
    margin-top:30px;
}

.hardware-description {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.116);
    padding:20px;
    border-radius:12px;
    background:#f3f3f3;
}


/*EXIBIR MAIS INFORMAÇÕES*/
summary {
    list-style-type: '+  ';
    font-size:1.5em;
    user-select: none;
}

summary:hover {
    color:#81c784;
    transition:0.4s ease-in-out;
    transform:translateX(20px);

}

details[open] summary {
list-style-type:'- ';

}

details {
cursor:pointer;
font-weight:600;
margin-top:30px;
}


details:last-child {
    margin-bottom:100px;
}



details p {
    cursor:auto;
    width:90%;
    margin-top:10px;
    font-weight:400;
}

details img {
    
    max-width: 40%;
    margin:auto;
}

#software img {
    max-width:500px;
}

#voltar-topo {
margin:40px;    
}


/*RODAPÉ*/
footer {
    text-align:center;    
    padding:20px;
}

footer a {
color:#fff;
}

footer a:hover{
    color:green;
    transition:0.3s;
}